{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Maqolani ro`yhatdan o`chirish{% endblock title %}

{% block content %}
<h2>Maqolani o`chirish!</h2><br>
<p>Siz haqiqatdan ham <strong>"{{object.title}}"</strong> nomli maqolani o`chirmoqchimisiz?</p>
<form method="post">{% csrf_token %}
    <button type="submit" class="btn btn-warning btn-lg">Ha albatta</button>
    <a href="{% url 'article_detail' object.pk %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Maqolaga qaytish</a>
</form>
{% endblock content %}