{% extends 'base.html' %}

{% block title %} {{object.title}} {% endblock title %}

{% block content %}
    <div class="card mb-3">
        {% if object.photo %}
            <img src="{{object.photo.url}}" class="card-img-top" alt="{{object.title}}">
        {% endif %}
        <div class="card-body">
            <h3 class="card-title">{{object.title}}</h3>
            <p class="card-text"><small class="text-muted">muallif {{object.author|title}} - {{object.date}}</small></p>
            <p class="card-text">{{object.body|safe}}</p>
            <br>
            <a href="{% url 'article_list' %}">Barchasi</a> |
            <a href="{% url 'article_edit' object.pk %}">Tahrirlash</a> |
            <a href="{% url 'article_delete' object.pk %}">O`chirish</a>
        </div>
    </div>
    <div class="card">
      <div class="card-header">
        Izohlar
      </div>
      <div class="card-body">
          {% for comment in articles.comments.all %}
            <blockquote class="blockquote mb-0">
              <p>{{comment}}</p>
              <footer class="blockquote-footer"><cite title="Source Title">{{comment.author}}</cite></footer>
            </blockquote>
          {% endfor %}
  </div>
</div>

{% endblock content %}