{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so`zni qayta tiklash{% endblock title %}

{% block content %}
  <h2>Kalit so`zni qayta tiklash.</h2><br>
  <p>Ro`yhatdan o`tgan email adressingizni kiriting.</p>
  <p>Biz shu siz ko`rsatgan email adressga xabar jo`natamiz!</p>
  <form method="post">{% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success" data-toggle="button" aria-pressed="false">Jo`natish</button>
  </form>
{% endblock content %}